* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffdf8;
    min-height: 100vh;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-card {
    width: 100%;
    max-width: 420px;
    background-color:#ffffff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #064e3b;
    cursor: pointer;
}

.subtitle {
    text-align: center;
    color: #064e3b;
    margin-bottom: 30px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #064e3b;
    cursor: pointer;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.form-group input:focus {
    border-color: #064e3b;
}

.btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background-color: #064e3b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #053c2e;
}

.auth-link {
    text-align: center;
    margin-top: 20px;
    color: #b8863b;
}

.auth-link a {
    color: #053c2e;
    font-weight: bold;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}